.pageUsers {
  position: absolute;
  top: 12%;
  left: 10%;
  font-size: 25px;
}
.pageUsers :hover {
  color: rgb(202, 105, 194);
}
.pageUser {
  position: absolute;
  top: 12%;
  left: 10%;
  font-size: 20px;
  color: rgb(185, 170, 184);
}
